.container{
	width: 1200px;
	margin:100px auto;
	text-align: center;
}
.container img{
	width: 270px;
	height: 130px;
}
.search1{
	width: 100px;
	height: 36px;
	color:#fff;
	background-color: #3385ff;
	padding:10px;
	cursor: pointer;
	position: relative;

}
.search-input{
	width: 500px;
	height:30px;
	line-height: 30px;
	font-size: 20px;
	padding-left: 4px;s
}
.search1::after{
	content: '';
	position: absolute;
	left:-38px;
	top:9px;
	background: url(../img/camera.png) no-repeat;
	width: 18px;
	height: 16px;
}
.search1:hover{
	background-color: #2d78f4;	
}
.search-body{
	margin-top: 40px;
}
.result{
	width: 510px;
	height: auto;
	margin:0 auto;
}
.result ul{
	list-style: none;
	padding-left: 0;
	position: relative;
	left:-30px;
	left: -46px;
	border: 1px solid #f5f5f5;
	top: -16px;
	padding: 8px;
}
.result ul li{
	text-align: left;
}
.resultbck{
	background-color: #f5f5f5;
}